/* Row */
.row { display: flex;}
.row > * { flex: 1; }

.row > *:not(:last-child) {
  margin-right: 8px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-title span {
  color: rgba(0, 0, 0, 0.3);
  margin-left: 4px;
}

.section-title span.error {
  color: #f24822;
}