/* Row */
.row { display: flex; }
.row > * { flex: 1; }

.icon-color {
  position: relative;
  height: 16;
  width: 16;
  top: 1;
  left: -2;
  margin: auto;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}